@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #3498db;
  --header-color: #1f2937;
  --subheader-color: #3882f6;
  --text-color: #f9faf8;
  --main-padding: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto; /*add two more*/
}

.logo {
  font-weight: bold;
}

.header {
  height: 500px;
  background-color: var(--header-color);
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  max-width: 1100px;
  margin: 0 auto;
  background-color: var(--header-color);
  height: 110px;
}

.outer-nav {
  background-color: var(--header-color);
}

.nav-elements a {
  padding: 1rem;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 300;
  font-size: 12px;
}
.sub-header {
  background-color: var(--header-color);
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;

  gap: 14rem;
}

.paragraph {
  line-height: 1.5;
}

.outer-subheader {
  background-color: var(--header-color);
}

.subheader-btn {
  color: var(--text-color);
  background-color: var(--subheader-color);
  border-radius: 10px;
  width: 25%;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--subheader-color);
}

.second-div {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.title,
.paragraph {
  color: var(--text-color);
}

.square {
  height: 140px;
  width: 140px;
  border: 2px solid var(--subheader-color);
  border-radius: 10%;
}

.square-div {
  width: 70%;
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  margin-top: 14px;
}

.square-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.seconday-section {
  display: flex;
  flex-direction: column;
  height: 340px;
}

.secondary-title {
  color: #1f2937;
  text-align: center;
  margin-top: 54px;
  margin-bottom: 34px;
}

.testimony {
  margin-top: 64px;
  background-color: #e5e7eb;
  height: 340px;
  font-size: 26px;
  font-weight: 300;
  color: #1f2937;
}

.inner-testimony {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 54px;
}
blockquote {
  width: 90%;
  margin: 0 auto;
}

.citer {
  display: inline-block;
  text-align: right;
  font-weight: 500;
}

.footer-div {
  height: 340px;
  max-width: 1100px;
  margin: 0 auto;
  color: var(--text-color);
}

.footer-btn {
  border: 1px solid var(--text-color);
  width: 97px;
  border-radius: 5px;
  background-color: var(--subheader-color);
  color: var(--text-color);
  padding: 10px;
}

.footer {
  display: flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 13px;
  background-color: var(--subheader-color);
  width: 100%;
  margin: 0 auto;
  padding: 36px;
}

.footer-paragraph > p:first-child {
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
}

.sub-footer {
  background-color: var(--header-color);
  margin: 0 auto;
  padding: 24px;
  text-align: center;
  color: var(--text-color);
}

.common-class-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 575.98px) {
}

/* media queries */

/* Small devices (large phones, ≥576px) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) {
}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1200px) {
}

/* XXL devices (very large screens, ≥1400px) */
@media (min-width: 1400px) {
}
